.section-6 {
    padding: 2rem;
    text-align: center;
    display: flex;
    margin-left: 100px;
    width: 80%;
    margin-top: 100px;
}

.izquierda {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 50px;
    margin-top: -100px;
}

.section-6 .izquierda h2 {
    font-size: 2rem;
    text-align: center;
}

.section-6 .izquierda span {
    margin-left: 30px;
    font-size: 1.2rem;
    line-height: 1.8;
}

.centro .imagen7{
    margin-top: 1rem;
    width: 350px;
    height: 500px;
    border-radius: 240px 240px 0 0;
}
